<template>
  <div v-if="loaded" class="information">
    <h1>Información de la cuenta</h1>
    <h3>Nombre: <span>{{ name }}</span></h3>
    <h3>Correo electrónico: <span>{{ email }}</span></h3> 
    <h3>Ciudad: <span>{{ city }}</span></h3> 
    <h3>Tipo de vehículos: <span>{{ vehicule }}</span></h3>
    <h3>tipo de carga: <span>{{ type_of_cargo }}</span></h3> 
    <h3>Cantidad de vehículos: <span>{{ balance }} </span></h3>
  </div>
</template>
<script>
import jwt_decode from "jwt-decode";
import axios from "axios";
export default {
  name: "Account",
  data: function () {
    return {
      username: "",
      name: "",
      email: "",
      city: "",
      vehicule: "",
      type_of_cargo: "",
      balance: 0,
      loaded: false,
    };
  },
  methods: {
    getData: async function () {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }
      await this.verifyToken();
      let token = localStorage.getItem("token_access");
      let userId = jwt_decode(token).user_id.toString();

      axios
        .get(`https://project-transportationswebsite.herokuapp.com/user/${userId}/`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.name = result.data.name;
          this.email = result.data.email;
          this.city = result.data.city;
          this.vehicule = result.data.vehicule;
          this.type_of_cargo = result.data.type_of_cargo;
          this.balance = result.data.account.balance;
          this.loaded = true;
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
    verifyToken: function () {
      return axios
        .post(
          "https://project-transportationswebsite.herokuapp.com/refresh/",
          { refresh: localStorage.getItem("token_refresh") },
          { headers: {} }
        )
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
  },
  created: async function () {
    this.getData();
  },
};
</script>
<style>
.information {
  margin: 0;
  padding: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information h1 {
  font-size: 60px;
  color: #f5f5f5;
}
.information h3 {
  color: #f5f5f5;
}
.information span {
  color: crimson;
  font-weight: bold;
}
</style>