<template>
  <div class="greetings">
    <h1>
      ¡Bienvenido <span> {{ username }} </span>!
    </h1>
<!--<h1> <span> {{ name }} </span> --> 
  </div>
</template>
<script>
export default {
  name: "Home",
  data: function () {
    return {
      username: localStorage.getItem("username") || "none",
    };
  },
};
</script>
 <!--name: localStorage.getItem("name"), -->  
<style>
.greetings {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.greetings h1 {
  font-family: "Amatic SC", cursive;
  font-size: 50px;
  color: #e5e7e9;
}
.greetings span {
  font-family: "Amatic SC", cursive;
  color: #03cc90;
  font-weight: bold;
}
</style>