<!--<template>
  <div class="signUp_user">
    <div class="container_signUp_user">
      <h2>Registrarse</h2>
      <form v-on:submit.prevent="processSignUp">
        <input type="text" v-model="user.username" placeholder="Usuario" />
        <br />
        <input type="password" v-model="user.password" placeholder="Contraseña" />
        <br />
        <input type="text" v-model="user.name" placeholder="Nombre" />
        <br />
        <input type="email" v-model="user.email" placeholder="Email" />
        <br />
        <input type="text" v-model="user.city" placeholder="Ciudad" />
        <br />
        <input type="text" v-model="user.type_of_cargo" placeholder="tipo de carga" />
        <br /> 
        <input type="text" v-model="user.vehicule" placeholder="Vehículo" />
        <br /> 
        <input type="number" v-model="user.account.balance" placeholder="Cantidad"/>
        <br />                                                   
        <button type="submit">Registrarse</button>
      </form>
    </div>
  </div>
</template> -->
<template>
  <div class="signUp_user">
    <div class="container_signUp_user">
      <h2>Registrarse</h2>
      <form v-on:submit.prevent="processSignUp">
        <input type="text" v-model="user.username" placeholder="Username" />
        <br />
        <input type="password" v-model="user.password" placeholder="Password" />
        <br />
        <input type="text" v-model="user.name" placeholder="Name" />
        <br />
        <input type="email" v-model="user.email" placeholder="Email" />
        <br />
        <input type="text" v-model="user.city" placeholder="Ciudad" />
        <br />
        <input type="text" v-model="user.type_of_cargo" placeholder="tipo de carga" />
        <br /> 
        <input type="text" v-model="user.vehicule" placeholder="Vehículo" />
        <br />
        <input
          type="number"
          v-model="user.account.balance"
          placeholder="Initial Balance"
        />

        <br />
        <button type="submit">Registrarse</button>
      </form>
    </div>
  </div>
</template>
<script>
/*
import axios from "axios";
export default {
  name: "signUp",
  data: function () {
    return {
      user: {
        username: "",
        password: "",
        name: "",
        email: "",
        city: "",
        vehicule: "",
        type_of_cargo: "",
        account: {
          balance: 0,
          profile_photo: "",
          id_photo: "",
          license_photo: "",
          experience: "",
          lastChangeDate: new Date().toJSON().toString(),
          isActive: true,
        },
      },
    };
  },
  methods: {
    processSignUp: function () {
      axios.post("http://project-transportationswebsite.herokuapp.com/user/", 
      this.user, 
        {headers: {}}
    )
        .then((result) => {
          let dataSignUp = {
            username: this.user.username,
            token_access: result.data.access,
            token_refresh: result.data.refresh,
          }

          this.$emit("completedSignUp", dataSignUp);
        })
        .catch((error) => {
          console.log(error);

          alert("ERROR: Fallo en el registro.");
        });
    }
  }
}
*/
import axios from "axios";

export default {
  name: "SignUp",
  data: function () {
    return {
      user: {
        username: "",
        password: "",
        name: "",
        email: "",
        city: "",
        vehicule: "",
        type_of_cargo: "",
        account: {
          lastChangeDate: new Date().toJSON().toString(),
          balance: 0,
          isActive: true,
        },
      },
    };
  },
  methods: {
    processSignUp: function () {
      axios.post("https://project-transportationswebsite.herokuapp.com/user/", 
      this.user, 
        {headers: {}}
    )
        .then((result) => {
          let dataSignUp = {
            username: this.user.username,
            token_access: result.data.access,
            token_refresh: result.data.refresh,
          }

          this.$emit("completedSignUp", dataSignUp);
        })
        .catch((error) => {
          console.log(error);

          alert("ERROR: Fallo en el registro.");
        });
    }
  }
}
</script>
<style>
.signUp_user {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.container_signUp_user {
  border: 3px solid #232734;
  border-radius: 10px;
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signUp_user h2 {
  color: #d1d5dc;
  font-family: 'Amatic SC', cursive;
}
.signUp_user form {
  width: 70%;
  
}
.signUp_user form input{
  font-size: 17px;
  border-radius: 5px;
  font-family: 'Amatic SC', cursive;
}
.signUp_user input {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #283747;
}
.signUp_user button {
  width: 100%;
  height: 40px;
  font-size: 17px;
  color: #e5e7e9;
  background: #03CC90;
  border: 1px solid #e5e7e9;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0 25px 0;
  font-family: 'Amatic SC', cursive;
}
.signUp_user button:hover {
  color: #e5e7e9;
  background: #3F4354;
  border: 1px solid #283747;
}
</style>