<template>
  <div id="app" class="app">
    <div class="header">
      <h1>Puntualito y Asociados</h1>

      <nav>
        <button v-if="is_auth" v-on:click="loadHome">Inicio</button>
        <button v-if="is_auth" v-on:click="loadAccount">Cuenta</button>
        <button v-if="is_auth" v-on:click="logOut">Cerrar Sesión</button>
        <button v-if="!is_auth" v-on:click="loadLogIn">Iniciar Sesión</button>
        <button v-if="!is_auth" v-on:click="loadSignUp">Registrarse</button>
      </nav>
    </div>

    <div class="main-component">
      <div>
        <router-view
          v-on:completedLogIn="completedLogIn"
          v-on:completedSignUp="completedSignUp"
          v-on:logOut="logOut"
        >
        </router-view>
      </div>
      <div class="imagen">
        <img src="./assets/imagen.png" />
      </div>
      </div>
      <div class="footer">
        <h2>Proyecto MisionTic 2022</h2>
      </div>
  </div>
    <div class= "footer1">
      <img src="./assets/logo-mision.png" id=object-position-1 class="column-has-text-right"/>
    </div>  
</template>

<script>
export default {
  name: "App",
  data: function () {
    return {
      is_auth: false,
    };
  },
  components: {},
  methods: {
    verifyAuth: function () {
      this.is_auth = localStorage.getItem("isAuth") || false;

      if (this.is_auth == false) 
        this.$router.push({ name: "logIn" });
      else 
        this.$router.push({ name: "home" })
    },

    loadLogIn: function () {
      this.$router.push({ name: "logIn" });
    },

    loadSignUp: function () {
      this.$router.push({ name: "signUp" });
    },

    completedLogIn: function (data) {
      localStorage.setItem("isAuth", true);
      localStorage.setItem("username", data.username);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      alert("Autenticación Exitosa");
      this.verifyAuth();
    },

    completedSignUp: function (data) {
      alert("Registro Exitoso");
      this.completedLogIn(data);
    },

    loadHome: function () {
      this.$router.push({ name: "home" });
    },

    loadAccount: function () {
      this.$router.push({ name: "account" });
    },

    logOut: function () {
      localStorage.clear();
      alert("Sesión Cerrada");
      this.verifyAuth();
    },
  },

  created: function () {
    this.verifyAuth();
  }


}
</script>
<style>
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC:wght@700&family=Righteous&display=swap");
body {
  margin: 0 0 0 0;
}
.header {
  margin: 0%;
  padding: 0;
  width: 100%;
  height: 10vh;
  min-height: 100px;
  background-color: #353849;
  color: #03cc90;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  width: 20%;
  text-align: center;
  font-family: "Amatic SC", cursive;
}
.header nav {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}
.header nav button {
  color: #e5e7e9;
  background: #03cc90;
  border: 1px solid #e5e7e9;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "Amatic SC", cursive;
  font-size: 15px;
}
.header nav button:hover {
  color: #283749;
  background: #e5e7e9;
  border: 1px solid #e5e7e9;
}
.main-component {
  height: 75vh;
  margin: 0%;
  padding: 0%;
  background: #232734;
  min-height: 79vh;
}
.imagen img {
  display: block;
  margin-left: 30%;
  width: 30%;
  object-position: center top;
}

.column img {
  display: block;
  margin-left: 20%;
  width: 50%;

} 



.footer {
  margin: 0%;
  padding: 0;
  width: 100%;
  height: -2vh;
  min-height: 55px;
  background-color: #353849;
  color: #03cc90;
  display: flex;
}

.footer1 {
  width: 100%;
  height: 10vh;
  min-height: 100px;
  background-color: #353849;
  color: #03cc90;
  display: flex;
}

.footer1 img {
  width: 150px;
  height: 100px;
  position: absolute;
  top: 690px;
  left: 1230px;
}

.footer h2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Amatic SC", cursive;
  margin-left: 80%;
;
}


</style>